<a href="javascript:" ng-click="getListMostFavoriteSong()" class="pull-right text-muted m-t-lg" ng-init="init();">
    <i class="icon-refresh i-lg  inline" id="new-spinner"></i>
</a>
<h2 class="font-thin m-b">Bài hát mới
    <span class="musicbar animate inline m-l-sm" style="width:20px;height:20px">
        <span class="bar1 a1 bg-primary lter"></span>
        <span class="bar2 a2 bg-info lt"></span>
        <span class="bar3 a3 bg-success"></span>
        <span class="bar4 a4 bg-warning dk"></span>
        <span class="bar5 a5 bg-danger dker"></span>
    </span>
</h2>
<div class="row row-sm">
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2" ng-repeat="song in data.listNewSong">
        <div class="item">
            <div class="pos-rlt">
                <div class="item-overlay opacity r r-2x bg-black">
                    <div class="text-info padder m-t-sm text-sm">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o text-muted"></i>
                    </div>
                    <div class="center text-center m-t-n">
                        <a href="javascript:">
                            <i class="icon-control-play i-2x" ng-click="playSong(song)"></i>
                        </a>
                    </div>
                    <div class="bottom padder m-b-sm">
                        <a href="javascript:" class="pull-right" ng-if="song.favorited!=true">
                            <i class="fa fa-heart-o" ng-click="song.favorited=true;addFavorite(song.id)"></i>
                        </a>
                        <a href="javascript:" class="pull-right active" data-toggle="class" ng-if="song.favorited==true">
                            <i class="fa fa-heart-o text"></i>
                            <i class="fa fa-heart text-active text-danger" ng-click="song.favorited=false;removeFavorite(song.id)"></i>
                        </a>
                        <div class="btn-group">
                            <a href="javascript:" data-toggle="dropdown">
                                <i class="fa fa-plus-circle"></i>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="javascript:" ng-click="addSongToPlaying(song)">
                                        <i class="icon-list"></i> Thêm vào đang phát</a>
                                </li>
                                <li>
                                    <a href="javascript:" ng-click="showAddPlaylist(song)">
                                        <i class="icon-playlist"></i> Thêm vào playlist</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <a href="#">
                    <img src="http://localhost:8080/resource/image?name={{song.image}}" alt="" class="r r-2x img-full">
                </a>
            </div>
            <div class="padder-v">
                <a href="./#!/song/{{song.id}}" class="text-ellipsis">{{song.title}}</a>
                <a href="./#!/profile/{{song.user.username}}" class="text-ellipsis text-xs text-muted">{{song.user.fullname}}</a>
            </div>
        </div>
    </div>
</div>
<a href="javascript:" ng-click="getListNewSong()" class="pull-right text-muted m-t-lg">
    <i class="icon-refresh i-lg inline" id="mostfavorite-spinner"></i>
</a>
<h2 class="font-thin m-b">Bài hát ưa thích
    <span class="musicbar animate inline m-l-sm" style="width:20px;height:20px">
        <span class="bar1 b1 bg-primary lter"></span>
        <span class="bar2 b2 bg-info lt"></span>
        <span class="bar3 b3 bg-success"></span>
        <span class="bar4 b4 bg-warning dk"></span>
        <span class="bar5 b5 bg-danger dker"></span>
    </span>
</h2>
<div class="row row-sm">
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2" ng-repeat="song in data.listMostFavoriteSong">
        <div class="item">
            <div class="pos-rlt">
                <div class="item-overlay opacity r r-2x bg-black">
                    <div class="text-info padder m-t-sm text-sm">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o text-muted"></i>
                    </div>
                    <div class="center text-center m-t-n">
                        <a href="javascript:">
                            <i class="icon-control-play i-2x" ng-click="playSong(song)"></i>
                        </a>
                    </div>
                    <div class="bottom padder m-b-sm">
                        <a href="javascript:" class="pull-right" ng-if="song.favorited!=true">
                            <i class="fa fa-heart-o" ng-click="song.favorited=true;addFavorite(song.id)"></i>
                        </a>
                        <a href="javascript:" class="pull-right active" data-toggle="class" ng-if="song.favorited==true">
                            <i class="fa fa-heart-o text"></i>
                            <i class="fa fa-heart text-active text-danger" ng-click="song.favorited=false;removeFavorite(song.id)"></i>
                        </a>
                        <div class="btn-group">
                            <a href="javascript:" data-toggle="dropdown">
                                <i class="fa fa-plus-circle"></i>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="javascript:" ng-click="addSongToPlaying(song)">
                                        <i class="icon-list"></i> Thêm vào đang phát</a>
                                </li>
                                <li>
                                    <a href="javascript:" ng-click="showAddPlaylist(song)">
                                        <i class="icon-playlist"></i> Thêm vào playlist</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <a href="#">
                    <img src="http://localhost:8080/resource/image?name={{song.image}}" alt="" class="r r-2x img-full">
                </a>
            </div>
            <div class="padder-v">
                <a href="./#!/song/{{song.id}}" class="text-ellipsis">{{song.title}}</a>
                <a href="./#!/profile/{{song.user.username}}" class="text-ellipsis text-xs text-muted">{{song.user.fullname}}</a>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-7">
        <h3 class="font-thin">New Songs</h3>
        <div class="row row-sm">
            <div class="col-xs-6 col-sm-3">
                <div class="item">
                    <div class="pos-rlt">
                        <div class="item-overlay opacity r r-2x bg-black">
                            <div class="center text-center m-t-n">
                                <a href="#">
                                    <i class="fa fa-play-circle i-2x"></i>
                                </a>
                            </div>
                        </div>
                        <a href="#">
                            <img src="images/a2.png" alt="" class="r r-2x img-full">
                        </a>
                    </div>
                    <div class="padder-v">
                        <a href="#" class="text-ellipsis">Spring rain</a>
                        <a href="#" class="text-ellipsis text-xs text-muted">Miaow</a>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-sm-3">
                <div class="item">
                    <div class="pos-rlt">
                        <div class="item-overlay opacity r r-2x bg-black">
                            <div class="center text-center m-t-n">
                                <a href="#">
                                    <i class="fa fa-play-circle i-2x"></i>
                                </a>
                            </div>
                        </div>
                        <a href="#">
                            <img src="images/a3.png" alt="" class="r r-2x img-full">
                        </a>
                    </div>
                    <div class="padder-v">
                        <a href="#" class="text-ellipsis">Hope</a>
                        <a href="#" class="text-ellipsis text-xs text-muted">Miya</a>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-sm-3">
                <div class="item">
                    <div class="pos-rlt">
                        <div class="item-overlay opacity r r-2x bg-black">
                            <div class="center text-center m-t-n">
                                <a href="#">
                                    <i class="fa fa-play-circle i-2x"></i>
                                </a>
                            </div>
                        </div>
                        <a href="#">
                            <img src="images/a8.png" alt="" class="r r-2x img-full">
                        </a>
                    </div>
                    <div class="padder-v">
                        <a href="#" class="text-ellipsis">Listen wind</a>
                        <a href="#" class="text-ellipsis text-xs text-muted">Soyia Jess</a>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-sm-3">
                <div class="item">
                    <div class="pos-rlt">
                        <div class="item-overlay opacity r r-2x bg-black">
                            <div class="center text-center m-t-n">
                                <a href="#">
                                    <i class="fa fa-play-circle i-2x"></i>
                                </a>
                            </div>
                        </div>
                        <a href="#">
                            <img src="images/a9.png" alt="" class="r r-2x img-full">
                        </a>
                    </div>
                    <div class="padder-v">
                        <a href="#" class="text-ellipsis">Breaking me</a>
                        <a href="#" class="text-ellipsis text-xs text-muted">Pett JA</a>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-sm-3">
                <div class="item">
                    <div class="pos-rlt">
                        <div class="item-overlay opacity r r-2x bg-black">
                            <div class="center text-center m-t-n">
                                <a href="#">
                                    <i class="fa fa-play-circle i-2x"></i>
                                </a>
                            </div>
                        </div>
                        <a href="#">
                            <img src="images/a1.png" alt="" class="r r-2x img-full">
                        </a>
                    </div>
                    <div class="padder-v">
                        <a href="#" class="text-ellipsis">Nothing</a>
                        <a href="#" class="text-ellipsis text-xs text-muted">Willion</a>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-sm-3">
                <div class="item">
                    <div class="pos-rlt">
                        <div class="item-overlay opacity r r-2x bg-black">
                            <div class="center text-center m-t-n">
                                <a href="#">
                                    <i class="fa fa-play-circle i-2x"></i>
                                </a>
                            </div>
                        </div>
                        <a href="#">
                            <img src="images/a6.png" alt="" class="r r-2x img-full">
                        </a>
                    </div>
                    <div class="padder-v">
                        <a href="#" class="text-ellipsis">Panda Style</a>
                        <a href="#" class="text-ellipsis text-xs text-muted">Lionie</a>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-sm-3">
                <div class="item">
                    <div class="pos-rlt">
                        <div class="item-overlay opacity r r-2x bg-black">
                            <div class="center text-center m-t-n">
                                <a href="#">
                                    <i class="fa fa-play-circle i-2x"></i>
                                </a>
                            </div>
                        </div>
                        <a href="#">
                            <img src="images/a7.png" alt="" class="r r-2x img-full">
                        </a>
                    </div>
                    <div class="padder-v">
                        <a href="#" class="text-ellipsis">Hook Me</a>
                        <a href="#" class="text-ellipsis text-xs text-muted">Gossi</a>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-sm-3">
                <div class="item">
                    <div class="pos-rlt">
                        <div class="item-overlay opacity r r-2x bg-black">
                            <div class="center text-center m-t-n">
                                <a href="#">
                                    <i class="fa fa-play-circle i-2x"></i>
                                </a>
                            </div>
                        </div>
                        <a href="#">
                            <img src="images/a5.png" alt="" class="r r-2x img-full">
                        </a>
                    </div>
                    <div class="padder-v">
                        <a href="#" class="text-ellipsis">Tempered Song</a>
                        <a href="#" class="text-ellipsis text-xs text-muted">Miaow</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-5">
        <h3 class="font-thin">Được nghe nhiều</h3>
        <div class="list-group bg-white list-group-lg no-bg auto">
            <a href="./#!/song/{{song.id}}" class="list-group-item clearfix" ng-repeat="song in data.listMostViewSong;">
                <span class="pull-right h2 text-muted m-l">{{$index+1}}</span>
                <span class="pull-left thumb-sm avatar m-r">
                    <img src="http://localhost:8080/resource/image?name={{song.image}}" alt="...">
                </span>
                <span class="clear">
                    <span>{{song.title}}</span>
                    <small class="text-muted clear text-ellipsis">bởi {{song.user.fullname}}</small>
                </span>
            </a>
        </div>
    </div>
</div>
<div class="row m-t-lg m-b-lg">
    <div class="col-sm-6">
        <div class="bg-primary wrapper-md r">
            <a href="#">
                <span class="h4 m-b-xs block">
                    <i class=" icon-user-follow i-lg"></i> Login or Create account</span>
                <span class="text-muted">Save and share your playlist with your friends when you log in or create an account.</span>
            </a>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="bg-black wrapper-md r">
            <a href="#">
                <span class="h4 m-b-xs block">
                    <i class="icon-cloud-download i-lg"></i> Download our app</span>
                <span class="text-muted">Get the apps for desktop and mobile to start listening music at anywhere and anytime.
                </span>
            </a>
        </div>
    </div>
</div>