<a href="javascript:" ng-click="getListNewSong()" class="pull-right text-muted m-t-lg" ng-init="init();">
    <i class="icon-refresh i-lg  inline" id="new-spinner"></i>
</a>
<h2 class="font-thin m-b">Bài hát mới
    <span class="musicbar animate inline m-l-sm" style="width:20px;height:20px">
        <span class="bar1 a1 bg-primary lter"></span>
        <span class="bar2 a2 bg-info lt"></span>
        <span class="bar3 a3 bg-success"></span>
        <span class="bar4 a4 bg-warning dk"></span>
        <span class="bar5 a5 bg-danger dker"></span>
    </span>
</h2>
<div class="row row-sm">
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2" ng-repeat="song in data.listNewSong">
        <song song="song" show-add-playlist="showAddPlaylist(song)"></song>
    </div>
</div>
<a href="javascript:" ng-click="getListMostFavoriteSong()" class="pull-right text-muted m-t-lg">
    <i class="icon-refresh i-lg inline" id="mostfavorite-spinner"></i>
</a>
<h2 class="font-thin m-b">Bài hát ưa thích
    <span class="musicbar animate inline m-l-sm" style="width:20px;height:20px">
        <span class="bar1 b1 bg-primary lter"></span>
        <span class="bar2 b2 bg-info lt"></span>
        <span class="bar3 b3 bg-success"></span>
        <span class="bar4 b4 bg-warning dk"></span>
        <span class="bar5 b5 bg-danger dker"></span>
    </span>
</h2>
<div class="row row-sm">
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2" ng-repeat="song in data.listMostFavoriteSong">
        <song song="song" show-add-playlist="showAddPlaylist(song)"></song>
    </div>
</div>
<a href="javascript:" ng-if="data.listFollowingSong" ng-click="getListFollowingSong()" class="pull-right text-muted m-t-lg" ng-init="init();">
    <i class="icon-refresh i-lg  inline" id="following-spinner"></i>
</a>
<h2 class="font-thin m-b" ng-if="data.listFollowingSong">Upload gần đây
</h2>
<div class="row row-sm">
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2" ng-if="data.listFollowingSong" ng-repeat="song in data.listFollowingSong">
        <song song="song" show-add-playlist="showAddPlaylist(song)"></song>
    </div>
</div>
<a href="javascript:" ng-if="data.listFavoriteSong" ng-click="getListFavoriteSong()" class="pull-right text-muted m-t-lg" ng-init="init();">
    <i class="icon-refresh i-lg  inline" id="favorite-spinner"></i>
</a>
<h2 class="font-thin m-b" ng-if="data.listFavoriteSong">Bài hát đã thích
</h2>
<div class="row row-sm">
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2" ng-if="data.listFavoriteSong" ng-repeat="song in data.listFavoriteSong">
        <song song="song" show-add-playlist="showAddPlaylist(song)"></song>
    </div>
</div>
<div class="row">
    <div class="col-md-7">
        <h3 class="font-thin">Ca sĩ ưa thích</h3>
        <div class="row row-sm">
            <div class="col-xs-6 col-sm-3" ng-repeat="user in data.listMostFollowing">
                <div class="item">
                    <div class="pos-rlt">
                        <div class="item-overlay opacity rounded bg-black">
                            <div class="center text-center m-t-n">
                                <a href="./#!/profile/{{user.username}}">
                                    <i class="icon-link i-2x"></i>
                                </a>
                            </div>
                        </div>
                        <a href="#">
                            <img src="http://localhost:8080/resource/image?name={{user.avatar}}" alt="" class="rounded img-full">
                        </a>
                    </div>
                    <div class="padder-v">
                        <a href="./#!/profile/{{user.username}}" class="text-ellipsis">{{user.fullname}}</a>
                        <p class="text-ellipsis text-xs text-muted m-n">{{user.followers}} người theo dõi</p>
                        <a href="javascript:" ng-click="user.followers=user.followers+1;user.followed=true;addFollow(user.id)" class="btn btn-xs btn-success m-t-xs" ng-if="user.followed==false">Theo dõi</a>
                        <a href="javascript:" ng-click="user.followers=user.followers-1;user.followed=false;removeFollow(user.id)" class="btn btn-xs active btn-success m-t-xs" ng-if="user.followed==true">Đã theo dõi</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-5">
        <h3 class="font-thin">Được nghe nhiều</h3>
        <div class="list-group bg-white list-group-lg no-bg auto">
            <a href="./#!/song/{{song.id}}" class="list-group-item clearfix" ng-repeat="song in data.listMostViewSong;">
                <span class="pull-right h2 text-muted m-l">{{$index+1}}</span>
                <span class="pull-left thumb-sm avatar m-r">
                    <img src="http://localhost:8080/resource/image?name={{song.image}}" alt="...">
                </span>
                <span class="clear">
                    <span>{{song.title}}</span>
                    <small class="text-muted clear text-ellipsis">bởi {{song.user.fullname}}</small>
                </span>
            </a>
        </div>
    </div>
</div>
<div class="row m-t-lg m-b-lg">
    <div class="col-sm-6">
        <div class="bg-primary wrapper-md r">
            <a href="#">
                <span class="h4 m-b-xs block">
                    <i class=" icon-user-follow i-lg"></i> Login or Create account</span>
                <span class="text-muted">Save and share your playlist with your friends when you log in or create an account.</span>
            </a>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="bg-black wrapper-md r">
            <a href="#">
                <span class="h4 m-b-xs block">
                    <i class="icon-cloud-download i-lg"></i> Download our app</span>
                <span class="text-muted">Get the apps for desktop and mobile to start listening music at anywhere and anytime.
                </span>
            </a>
        </div>
    </div>
</div>