<section class="hbox stretch bg-black dker" ng-init="getPlaylistById()">
    <!-- side content -->
    <aside class="col-sm-5 no-padder" id="sidebar">
        <section class="vbox animated fadeInUp">
            <section class="scrollable">
                <div class="m-t-n-xxs item pos-rlt height-lg clear">
                        <img class="img-full middle" src="http://localhost:8080/resource/image?name={{data.playlist.image}}">
                    <div class="top text-right">
                        <span class="musicbar animate bg-success bg-empty inline m-r-lg m-t" style="width:25px;height:30px">
                            <span class="bar1 a3 lter"></span>
                            <span class="bar2 a5 lt"></span>
                            <span class="bar3 a1 bg"></span>
                            <span class="bar4 a4 dk"></span>
                            <span class="bar5 a2 dker"></span>
                        </span>
                    </div>
                    <div class="bottom gd bg-info wrapper-lg">
                        <a href="./#!/profile/{{data.playlist.user.username}}" class="pull-right text-sm">{{data.playlist.user.fullname}}
                            <br>{{data.playlist.user.username}}</a>
                        <span class="h2 font-thin">{{data.playlist.title}}</span>
                    </div>
                    <div class="item-overlay opacity r r-2x bg-black">
                        <div class="bottom gd bg-info wrapper-lg">
                            <a href="./#!/profile/{{data.playlist.user.username}}" class="pull-right text-sm">{{data.playlist.user.fullname}}
                                <br>{{data.playlist.user.username}}</a>
                            <span class="h2 font-thin">{{data.playlist.title}}</span>
                        </div>
                        <div class="top wrapper-lg m-t-sm text-white">
                            <a href="javascript:" class="pull-right" ng-if="checkOwner()" ng-click="showEditPlaylist()">
                                <b class="dot"></b>
                                <b class="dot"></b>
                                <b class="dot"></b>
                            </a>
                        </div>
                        <div class="center text-center m-t-n">
                            <a href="javascript:">
                                <i class="icon-control-play i-2x" ng-click="playPlaylist(0)"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <ul class="list-group list-group-lg no-radius no-border no-bg m-t-n-xxs m-b-none auto">
                    <li class="list-group-item l-h-xs" ng-repeat="song in data.playlist.songs">
                        <div class="pull-right m-l">
                            <a href="#" class="m-r-sm">
                                <i class="icon-cloud-download"></i>
                            </a>
                            <a href="#" class="m-r-sm">
                                <i class="icon-plus"></i>
                            </a>
                            <a href="javascript:">
                                <i class="icon-close" ng-click="removeSongFromPlaylist(song, data.playlist)"></i>
                            </a>
                        </div>
                        <a href="javascript:" class="jp-play-me m-r-sm pull-left" ng-click="playPlaylist($index)">
                            <i class="icon-control-play text"></i>
                            <i class="icon-control-pause text-active"></i>
                        </a>
                        <div class="clear text-ellipsis">
                            <span class="pull-left thumb-xs m-r">
                                <img src="http://localhost:8080/resource/image?name={{song.image}}">
                            </span>
                            <span>{{song.title}}</span>
                        </div>
                    </li>
                </ul>
            </section>
        </section>
    </aside>
    <!-- / side content -->
    <section class="col-sm-4 no-padder bg">
        <section class="vbox">
            <section class="scrollable hover">
                <ul class="list-group list-group-lg no-bg auto m-b-none m-t-n-xxs">
                    <li class="list-group-item clearfix">
                        <a href="#" class="jp-play-me pull-right m-t-sm m-l text-md">
                            <i class="icon-control-play text"></i>
                            <i class="icon-control-pause text-active"></i>
                        </a>
                        <a href="#" class="pull-left thumb-sm m-r">
                            <img src="images/m0.jpg" alt="...">
                        </a>
                        <a class="clear" href="#">
                            <span class="block text-ellipsis">Little Town</span>
                            <small class="text-muted">by Soph Ashe</small>
                        </a>
                    </li>
                    <li class="list-group-item clearfix">
                        <a href="#" class="jp-play-me pull-right m-t-sm m-l text-md">
                            <i class="icon-control-play text"></i>
                            <i class="icon-control-pause text-active"></i>
                        </a>
                        <a href="#" class="pull-left thumb-sm m-r">
                            <img src="images/a1.png" alt="...">
                        </a>
                        <a class="clear" href="#">
                            <span class="block text-ellipsis">Get lacinia odio sem nec elit</span>
                            <small class="text-muted">by Filex</small>
                        </a>
                    </li>
                    <li class="list-group-item clearfix">
                        <a href="#" class="jp-play-me pull-right m-t-sm m-l text-md">
                            <i class="icon-control-play text"></i>
                            <i class="icon-control-pause text-active"></i>
                        </a>
                        <a href="#" class="pull-left thumb-sm m-r">
                            <img src="images/a2.png" alt="...">
                        </a>
                        <a class="clear" href="#">
                            <span class="block text-ellipsis">Donec sed odio du</span>
                            <small class="text-muted">by Dan Doorack</small>
                        </a>
                    </li>
                    <li class="list-group-item clearfix">
                        <a href="#" class="jp-play-me pull-right m-t-sm m-l text-md">
                            <i class="icon-control-play text"></i>
                            <i class="icon-control-pause text-active"></i>
                        </a>
                        <a href="#" class="pull-left thumb-sm m-r">
                            <img src="images/a3.png" alt="...">
                        </a>
                        <a class="clear" href="#">
                            <span class="block text-ellipsis">Curabitur blandit tempu</span>
                            <small class="text-muted">by Foxes</small>
                        </a>
                    </li>
                    <li class="list-group-item clearfix">
                        <a href="#" class="jp-play-me pull-right m-t-sm m-l text-md">
                            <i class="icon-control-play text"></i>
                            <i class="icon-control-pause text-active"></i>
                        </a>
                        <a href="#" class="pull-left thumb-sm m-r">
                            <img src="images/a4.png" alt="...">
                        </a>
                        <a class="clear" href="#">
                            <span class="block text-ellipsis">Urna mollis ornare vel eu leo</span>
                            <small class="text-muted">by Chris Fox</small>
                        </a>
                    </li>
                    <li class="list-group-item clearfix">
                        <a href="#" class="jp-play-me pull-right m-t-sm m-l text-md">
                            <i class="icon-control-play text"></i>
                            <i class="icon-control-pause text-active"></i>
                        </a>
                        <a href="#" class="pull-left thumb-sm m-r">
                            <img src="images/a5.png" alt="...">
                        </a>
                        <a class="clear" href="#">
                            <span class="block text-ellipsis">Faucibus dolor auctor</span>
                            <small class="text-muted">by Lauren Taylor</small>
                        </a>
                    </li>
                    <li class="list-group-item clearfix">
                        <a href="#" class="jp-play-me pull-right m-t-sm m-l text-md">
                            <i class="icon-control-play text"></i>
                            <i class="icon-control-pause text-active"></i>
                        </a>
                        <a href="#" class="pull-left thumb-sm m-r">
                            <img src="images/a6.png" alt="...">
                        </a>
                        <a class="clear" href="#">
                            <span class="block text-ellipsis">Praesent commodo cursus magn</span>
                            <small class="text-muted">by Chris Fox</small>
                        </a>
                    </li>
                    <li class="list-group-item clearfix">
                        <a href="#" class="jp-play-me pull-right m-t-sm m-l text-md">
                            <i class="icon-control-play text"></i>
                            <i class="icon-control-pause text-active"></i>
                        </a>
                        <a href="#" class="pull-left thumb-sm m-r">
                            <img src="images/a7.png" alt="...">
                        </a>
                        <a class="clear" href="#">
                            <span class="block text-ellipsis">Vestibulum id</span>
                            <small class="text-muted">by Milian</small>
                        </a>
                    </li>
                    <li class="list-group-item clearfix">
                        <a href="#" class="jp-play-me pull-right m-t-sm m-l text-md">
                            <i class="icon-control-play text"></i>
                            <i class="icon-control-pause text-active"></i>
                        </a>
                        <a href="#" class="pull-left thumb-sm m-r">
                            <img src="images/a8.png" alt="...">
                        </a>
                        <a class="clear" href="#">
                            <span class="block text-ellipsis">Blandit tempu</span>
                            <small class="text-muted">by Amanda Conlan</small>
                        </a>
                    </li>
                    <li class="list-group-item clearfix">
                        <a href="#" class="jp-play-me pull-right m-t-sm m-l text-md">
                            <i class="icon-control-play text"></i>
                            <i class="icon-control-pause text-active"></i>
                        </a>
                        <a href="#" class="pull-left thumb-sm m-r">
                            <img src="images/a9.png" alt="...">
                        </a>
                        <a class="clear" href="#">
                            <span class="block text-ellipsis">Vestibulum ullamcorpe quis malesuada augue mco rpe</span>
                            <small class="text-muted">by Dan Doorack</small>
                        </a>
                    </li>
                    <li class="list-group-item clearfix">
                        <a href="#" class="jp-play-me pull-right m-t-sm m-l text-md">
                            <i class="icon-control-play text"></i>
                            <i class="icon-control-pause text-active"></i>
                        </a>
                        <a href="#" class="pull-left thumb-sm m-r">
                            <img src="images/a10.png" alt="...">
                        </a>
                        <a class="clear" href="#">
                            <span class="block text-ellipsis">Natis ipsum ac feugiat</span>
                            <small class="text-muted">by Hamburg</small>
                        </a>
                    </li>
                    <li class="list-group-item clearfix">
                        <a href="#" class="jp-play-me pull-right m-t-sm m-l text-md">
                            <i class="icon-control-play text"></i>
                            <i class="icon-control-pause text-active"></i>
                        </a>
                        <a href="#" class="pull-left thumb-sm m-r">
                            <img src="images/a0.png" alt="...">
                        </a>
                        <a class="clear" href="#">
                            <span class="block text-ellipsis">Sec condimentum au</span>
                            <small class="text-muted">by Amanda Conlan</small>
                        </a>
                    </li>
                </ul>
            </section>
        </section>
    </section>
    <section class="col-sm-3 no-padder lt">
        <section class="vbox">
            <section class="scrollable hover">
                <div class="m-t-n-xxs">
                    <div class="item pos-rlt">
                        <a href="#" class="item-overlay active opacity wrapper-md font-xs">
                            <span class="block h3 font-bold text-info">Find</span>
                            <span class="text-muted">Search the music you like</span>
                            <span class="bottom wrapper-md block">-
                                <i class="icon-arrow-right i-lg pull-right"></i>
                            </span>
                        </a>
                        <a href="#">
                            <img class="img-full" src="images/m40.jpg" alt="...">
                        </a>
                    </div>
                    <div class="item pos-rlt">
                        <a href="#" class="item-overlay active opacity wrapper-md font-xs text-right">
                            <span class="block h3 font-bold text-warning text-u-c">Listen</span>
                            <span class="text-muted">Find the peace in your heart</span>
                            <span class="bottom wrapper-md block">
                                <i class="icon-arrow-right i-lg pull-left"></i> -</span>
                        </a>
                        <a href="#">
                            <img class="img-full" src="images/m41.jpg" alt="...">
                        </a>
                    </div>
                    <div class="item pos-rlt">
                        <a href="#" class="item-overlay active opacity wrapper-md font-xs">
                            <span class="block h3 font-bold text-success text-u-c">Share</span>
                            <span class="text-muted">Share the good songs with your loves</span>
                            <span class="bottom wrapper-md block">-
                                <i class="icon-arrow-right i-lg pull-right"></i>
                            </span>
                        </a>
                        <a href="#">
                            <img class="img-full" src="images/m42.jpg" alt="...">
                        </a>
                    </div>
                    <div class="item pos-rlt">
                        <a href="#" class="item-overlay active opacity wrapper-md font-xs text-right">
                            <span class="block h3 font-bold text-white text-u-c">2014</span>
                            <span class="text-muted">Find, Listen & Share</span>
                            <span class="bottom wrapper-md block">
                                <i class="icon-arrow-right i-lg pull-left"></i> -</span>
                        </a>
                        <a href="#">
                            <img class="img-full" src="images/m44.jpg" alt="...">
                        </a>
                    </div>
                    <div class="item pos-rlt">
                        <a href="#" class="item-overlay active opacity wrapper-md font-xs">
                            <span class="block h3 font-bold text-danger-lter text-u-c">Top10</span>
                            <span class="text-muted">Selected songs</span>
                            <span class="bottom wrapper-md block">-
                                <i class="icon-arrow-right i-lg pull-right"></i>
                            </span>
                        </a>
                        <a href="#">
                            <img class="img-full" src="images/m45.jpg" alt="...">
                        </a>
                    </div>
                </div>
            </section>
        </section>
    </section>
</section>
<modal visible="showEditPlaylistModal">
    <modal-header title="Sửa thông tin"></modal-header>
    <modal-body>
        <div class="alert alert-danger" ng-if="data.success!=null&&!data.success">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <i class="fa fa-ban-circle"></i>
            <strong>Ôi không!</strong>
            {{data.msg}}
        </div>
        <div class="alert alert-success" ng-if="data.success!=null&&data.success">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <i class="fa fa-ok-sign"></i>
            <strong>Thành công!</strong>
            {{data.msg}}
        </div>
        <div class="form-group">
            <label>Tiêu đề</label>
            <input ng-model="data.selected.playlist.title" type="text" placeholder="Tiêu đề" class="form-control" />
        </div>
        <div class="form-group">
            <label>Ảnh bìa</label><br>
            <img class="thumb-md m-b preview" src="http://localhost:8080/resource/image?name={{data.selected.playlist.image}}">
            <input type="file" accept="image/*" file-model="data.selected.playlist.image" class="customfileinput">
        </div>
    </modal-body>
    <modal-footer>
        <button class="btn btn-default btn-sm" ng-click="hideEditPlaylist();">Hủy</button>
        <button class="btn btn-danger btn-sm" ng-click="deletePlaylist();">Xóa
            <i class='fa fa-spinner fa fa-spin fa fa-large hidden' id="delete-spinner"></i>
        </button>
        <button class="btn btn-success btn-sm" ng-click="editPlaylist();">Sửa
            <i class='fa fa-spinner fa fa-spin fa fa-large hidden' id="edit-spinner"></i>
        </button>

    </modal-footer>
</modal>