<section class="hbox stretch" ng-init="getUser();">
    <aside class="aside-lg bg-light lter b-r">
        <section class="vbox">
            <!-- profile left -->
            <section class="scrollable">
                <div class="wrapper">
                    <div class="text-center m-b m-t">
                        <a href="#" class="thumb-lg">
                            <img src="http://localhost:8080/resource/image?name={{data.user.avatar}}" class="img-circle">
                        </a>
                        <div>
                            <div class="h3 m-t-xs m-b-xs">{{data.user.fullname}}</div>
                            <small class="text-muted">{{data.user.username}}</small>
                        </div>
                    </div>
                    <div class="panel wrapper">
                        <div class="row text-center">
                            <div class="col-xs-6">
                                <a href="#">
                                    <span class="m-b-xs h4 block">{{data.user.followers}}</span>
                                    <small class="text-muted">Người theo dõi</small>
                                </a>
                            </div>
                            <div class="col-xs-6">
                                <a href="#">
                                    <span class="m-b-xs h4 block">{{data.user.followings}}</span>
                                    <small class="text-muted">Đang theo dõi</small>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="btn-group btn-group-justified m-b">
                        <a href="javascript:" ng-click="data.user.followers=data.user.followers+1;data.user.followed=true;addFollow(data.user.id)"
                            class="btn btn-success btn-rounded" ng-if="data.user.followed!=true&&data.user.username!=username">
                            <span class="text">
                                <i class="fa fa-eye"></i> Theo dõi
                            </span>
                        </a>
                        <a href="javascript:" ng-click="data.user.followers=data.user.followers-1;data.user.followed=false;removeFollow(data.user.id)"
                            class="btn btn-success btn-rounded active" ng-if="data.user.followed==true&&data.user.username!=username">
                            <span class="text-active">
                                <i class="fa fa-eye"></i> Đang theo dõi
                            </span>
                        </a>
                        <a class="btn btn-dark btn-rounded">
                            <i class="icon-share-alt"></i> Chia sẻ
                        </a>
                    </div>
                    <div>
                        <small class="text-uc text-xs text-muted">Sinh nhật</small>
                        <p>{{data.user.birthdate}}</p>
                        <small class="text-uc text-xs text-muted">Mô tả</small>
                        <p>{{data.user.note}}</p>
                        <div class="line"></div>
                        <p ng-if="isCurrent(data.user.username)">
                            <a href="./#!/edit-profile" class="btn btn-success btn-xs">
                                <i class="fa fa-pencil-square-o" aria-hidden="true"></i> Sửa thông tin</a>
                        </p>
                        <small class="text-uc text-xs text-muted">connection</small>
                        <p class="m-t-sm">
                            <a href="#" class="btn btn-rounded btn-twitter btn-icon">
                                <i class="fa fa-twitter"></i>
                            </a>
                            <a href="#" class="btn btn-rounded btn-facebook btn-icon">
                                <i class="fa fa-facebook"></i>
                            </a>
                            <a href="#" class="btn btn-rounded btn-gplus btn-icon">
                                <i class="fa fa-google-plus"></i>
                            </a>
                        </p>
                    </div>
                </div>
            </section>
        </section>
    </aside>
    <aside class="panel">
        <section class="vbox">
            <header class="header bg-light lt">
                <ul class="nav nav-tabs nav-white">
                    <li ng-class="{active:current==1}">
                        <a href="javascript:" ng-click="getSongByUser(1)">Bài hát</a>
                    </li>
                    <li class="" ng-class="{active:current==2}">
                        <a href="javascript:" ng-click="getPlaylistByUser(1)">Playlist</a>
                    </li>
                    <li class="">
                        <a href="javascript:" data-toggle="tab">Interaction</a>
                    </li>
                </ul>
            </header>
            <section class="scrollable">
                <div class="tab-content">
                    <div class="tab-pane active" id="song">
                        <div class="row panel-body">
                            <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2" ng-if="current==1" ng-repeat="song in data.listResult">
                                <div class="item">
                                    <div class="pos-rlt">
                                        <div class="item-overlay opacity r r-2x bg-black">
                                            <div class="top padder m-t-sm text-white">
                                                <p>{{song.views}} lượt nghe</p>
                                            </div>
                                            <div class="center text-center m-t-n">
                                                <a href="javascript:">
                                                    <i class="icon-control-play i-2x" ng-click="playSong(song)"></i>
                                                </a>
                                            </div>
                                            <div class="bottom padder m-b-sm">
                                                <a href="javascript:" class="pull-right" ng-if="song.favorited!=true">
                                                    <i class="fa fa-heart-o" ng-click="addFavorite(song)"></i>
                                                </a>
                                                <a href="javascript:" class="pull-right active" data-toggle="class" ng-if="song.favorited==true">
                                                    <i class="fa fa-heart-o text"></i>
                                                    <i class="fa fa-heart text-active text-danger" ng-click="removeFavorite(song)"></i>
                                                </a>
                                                <div class="btn-group">
                                                    <a href="javascript:" data-toggle="dropdown">
                                                        <i class="fa fa-plus-circle"></i>
                                                    </a>
                                                    <ul class="dropdown-menu">
                                                        <li>
                                                            <a href="javascript:" ng-click="addSongToPlaying(song)">
                                                                <i class="icon-list"></i> Thêm vào đang phát</a>
                                                        </li>
                                                        <li>
                                                            <a href="javascript:" ng-click="showAddPlaylist(song)">
                                                                <i class="icon-playlist"></i> Thêm vào playlist</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <a href="#">
                                            <img src="http://localhost:8080/resource/image?name={{song.image}}" alt="" class="r r-2x img-full">
                                        </a>
                                    </div>
                                    <div class="padder-v">
                                        <a href="./#!/song/{{song.id}}" class="text-ellipsis" data-toggle="tooltip" title="{{song.title}}">{{song.title}}</a>
                                        <a href="./#!/profile/{{song.user.username}}" class="text-ellipsis text-xs text-muted">{{song.user.fullname}}</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2" ng-if="current==2" ng-repeat="playlist in data.listResult">
                                <div class="item">
                                    <div class="pos-rlt">
                                        <div class="item-overlay opacity r r-2x bg-black">
                                            <div class="center text-center m-t-n">
                                                <a href="#">
                                                    <i class="fa fa-play-circle i-2x"></i>
                                                </a>
                                            </div>
                                        </div>
                                        <a href="#">
                                            <img src="http://localhost:8080/resource/image?name={{playlist.image}}" alt="" class="r r-2x img-full">
                                        </a>
                                    </div>
                                    <div class="padder-v">
                                        <a href="./#!/playlist/{{playlist.id}}" class="text-ellipsis">{{playlist.title}}</a>
                                        <a href="./#!/profile/{{playlist.user.username}}" class="text-ellipsis text-xs text-muted">{{playlist.user.fullname}}</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 more m-sm"><a href="javascript:" ng-click="getSongByUser(data.page+1)" ng-if="(data.page)*18<data.total">Xem thêm</a></div>
                        </div>
                    </div>
                    <div class="tab-pane" id="events">
                        <div class="text-center wrapper">
                            <i class="fa fa-spinner fa fa-spin fa fa-large"></i>
                        </div>
                    </div>
                    <div class="tab-pane" id="interaction">
                        <div class="text-center wrapper">
                            <i class="fa fa-spinner fa fa-spin fa fa-large"></i>
                        </div>
                    </div>
                </div>
            </section>
        </section>
    </aside>

</section>