<section class="hbox stretch" ng-init="search(1)">
    <!-- side content -->
    <aside class="aside bg-light dk" id="sidebar">
        <section class="vbox animated fadeInUp">
            <section class="scrollable hover">
                <div class="list-group no-radius no-border no-bg m-t-n-xxs m-b-none auto">
                    <a href="genres.html" class="list-group-item">
                        All
                    </a>
                    <a href="genres.html" class="list-group-item active bg-success">
                        acoustic
                    </a>
                    <a href="genres.html" class="list-group-item">
                        ambient
                    </a>
                    <a href="genres.html" class="list-group-item">
                        blues
                    </a>
                    <a href="genres.html" class="list-group-item">
                        classical
                    </a>
                    <a href="genres.html" class="list-group-item">
                        country
                    </a>
                    <a href="genres.html" class="list-group-item">
                        electronic
                    </a>
                    <a href="genres.html" class="list-group-item">
                        emo
                    </a>
                    <a href="genres.html" class="list-group-item">
                        folk
                    </a>
                    <a href="genres.html" class="list-group-item">
                        hardcore
                    </a>
                    <a href="genres.html" class="list-group-item">
                        hip hop
                    </a>
                    <a href="genres.html" class="list-group-item">
                        indie
                    </a>
                    <a href="genres.html" class="list-group-item">
                        jazz
                    </a>
                    <a href="genres.html" class="list-group-item">
                        latin
                    </a>
                    <a href="genres.html" class="list-group-item">
                        metal
                    </a>
                    <a href="genres.html" class="list-group-item">
                        pop
                    </a>
                    <a href="genres.html" class="list-group-item">
                        pop punk
                    </a>
                    <a href="genres.html" class="list-group-item">
                        punk
                    </a>
                    <a href="genres.html" class="list-group-item">
                        reggae
                    </a>
                    <a href="genres.html" class="list-group-item">
                        rnb
                    </a>
                    <a href="genres.html" class="list-group-item">
                        rock
                    </a>
                    <a href="genres.html" class="list-group-item">
                        soul
                    </a>
                    <a href="genres.html" class="list-group-item">
                        world
                    </a>
                </div>
            </section>
        </section>
    </aside>
    <!-- / side content -->
    <section>
        <section class="vbox">
            <section class="scrollable">
                <section class="panel panel-default">
                    <header class="panel-heading text-right bg-light">
                        <ul class="nav nav-tabs pull-left">
                            <li id="song-tab">
                                <a href="./#!/search?keyword={{data.keyword}}&type=song" data-toggle="tab">
                                    <i class="icon-music-tone-alt text-muted"></i> Bài hát
                                </a>
                            </li>
                            <li id="user-tab">
                                <a href="./#!/search?keyword={{data.keyword}}&type=user" data-toggle="tab">
                                    <i class="icon-user text-muted"></i> Người dùng</a>
                            </li>
                            <li>
                                <a href="#profile-2" data-toggle="tab">
                                    <i class="icon-playlist text-muted"></i> Playlist</a>
                            </li>
                            <li>
                                <a href="#profile-2" data-toggle="tab">
                                    <i class="icon-disc text-muted"></i> Album</a>
                            </li>
                        </ul>
                        <span class="hidden-sm">...</span>
                    </header>
                    <div class="panel-body">
                        <div class="tab-content">
                            <div class="tab-pane padder-lg" id="song">
                                <h2 class="font-thin m-b">Từ khóa '{{data.keyword}}'
                                    <i class='fa fa-spinner fa fa-spin fa fa-large hidden search-spinner'></i>
                                </h2>
                                <div class="row row-sm">
                                    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2" ng-repeat="song in data.listResultSong">
                                        <div class="item">
                                            <div class="pos-rlt">
                                                <div class="item-overlay opacity r r-2x bg-black">
                                                    <div class="top padder m-t-sm text-white">
                                                        <p>{{song.views}} lượt nghe</p>
                                                    </div>
                                                    <div class="center text-center m-t-n">
                                                        <a href="javascript:">
                                                            <i class="icon-control-play i-2x" ng-click="playSong(song)"></i>
                                                        </a>
                                                    </div>
                                                    <div class="bottom padder m-b-sm">
                                                        <a href="javascript:" class="pull-right" ng-if="song.favorited!=true">
                                                            <i class="fa fa-heart-o" ng-click="addFavorite(song)"></i>
                                                        </a>
                                                        <a href="javascript:" class="pull-right active" data-toggle="class" ng-if="song.favorited==true">
                                                            <i class="fa fa-heart-o text"></i>
                                                            <i class="fa fa-heart text-active text-danger" ng-click="removeFavorite(song)"></i>
                                                        </a>
                                                        <div class="btn-group">
                                                            <a href="javascript:" data-toggle="dropdown">
                                                                <i class="fa fa-plus-circle"></i>
                                                            </a>
                                                            <ul class="dropdown-menu">
                                                                <li>
                                                                    <a href="javascript:" ng-click="addSongToPlaying(song)">
                                                                        <i class="icon-list"></i> Thêm vào đang phát</a>
                                                                </li>
                                                                <li>
                                                                    <a href="javascript:" ng-click="showAddPlaylist(song)">
                                                                        <i class="icon-playlist"></i> Thêm vào playlist</a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                                <a href="#">
                                                    <img src="http://localhost:8080/resource/image?name={{song.image}}" alt="" class="r r-2x img-full">
                                                </a>
                                            </div>
                                            <div class="padder-v">
                                                <a href="./#!/song/{{song.id}}" class="text-ellipsis" data-toggle="tooltip" title="{{song.title}}">{{song.title}}</a>
                                                <a href="./#!/profile/{{song.user.username}}" class="text-ellipsis text-xs text-muted">{{song.user.fullname}}</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="" ng-if="!data.listResultSong">
                                        <div class="text-center">
                                            <img src="images/search.svg" class="thumb-xlg m-t-md m-b-md">
                                            <h2>Không tìm thấy kết quả nào</h2>
                                            <p class="m-b-lg">Vui lòng thử lại bằng từ khóa hoặc cách tìm kiếm khác.</p>
                                        </div>
                                    </div>
                                </div>
                                <ul class="pagination" ng-if="data.total!=0">
                                    <li ng-if="data.page-1>0">
                                        <a href="javascript:" ng-click="search(data.page-1)" class="text-success important">
                                            <i class="fa fa-chevron-left"></i>
                                        </a>
                                    </li>
                                    <li ng-if="data.page-2>0" class="text-success">
                                        <a href="javascript:" ng-click="search(data.page-2)" class="text-success important">{{data.page-2}}</a>
                                    </li>
                                    <li ng-if="data.page-1>0">
                                        <a href="javascript:" ng-click="search(data.page-1)" class="text-success important">{{data.page-1}}</a>
                                    </li>
                                    <li class="active">
                                        <a href="javascript:" ng-click="search(data.page)" class="bg-success important">{{data.page}}</a>
                                    </li>
                                    <li ng-if="(data.page+1)<=data.totalPage">
                                        <a href="javascript:" ng-click="search(data.page+1)" class="text-success important">{{data.page+1}}</a>
                                    </li>
                                    <li ng-if="(data.page+2)<=data.totalPage">
                                        <a href="javascript:" ng-click="search(data.page+2)" class="text-success important">{{data.page+2}}</a>
                                    </li>
                                    <li ng-if="(data.page+1)<=data.totalPage">
                                        <a href="javascript:" ng-click="search(data.page+1)" class="text-success important">
                                            <i class="fa fa-chevron-right"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="tab-pane padder-lg" id="user">
                                <h2 class="font-thin m-b">Từ khóa '{{data.keyword}}'
                                    <i class='fa fa-spinner fa fa-spin fa fa-large hidden search-spinner'></i>
                                </h2>
                                <div class="row row-sm">
                                    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2" ng-repeat="user in data.listResultUser">
                                        <div class="item">
                                            <div class="pos-rlt">
                                                <div class="item-overlay opacity rounded bg-black">
                                                    <div class="center text-center m-t-n">
                                                        <a href="./#!/profile/{{user.username}}">
                                                            <i class="icon-link i-2x"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                                <a href="#">
                                                    <img src="http://localhost:8080/resource/image?name={{user.avatar}}" alt="" class="rounded img-full">
                                                </a>
                                            </div>
                                            <div class="padder-v">
                                                <a href="./#!/profile/{{user.username}}" class="text-ellipsis">{{user.fullname}}</a>
                                                <p class="text-ellipsis text-xs text-muted m-n">{{user.followers}} người theo dõi</p>
                                                <a href="javascript:" ng-click="user.followers=user.followers+1;user.followed=true;addFollow(user.id)" class="btn btn-xs btn-success m-t-xs" ng-if="user.followed==false">Theo dõi</a>
                                                <a href="javascript:" ng-click="user.followers=user.followers-1;user.followed=false;removeFollow(user.id)" class="btn btn-xs active btn-success m-t-xs" ng-if="user.followed==true">Đã theo dõi</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="" ng-if="!data.listResultUser">
                                        <div class="text-center">
                                            <img src="images/search.svg" class="thumb-xlg m-t-md m-b-md">
                                            <h2>Không tìm thấy kết quả nào</h2>
                                            <p class="m-b-lg">Vui lòng thử lại bằng từ khóa hoặc cách tìm kiếm khác.</p>
                                        </div>
                                    </div>
                                </div>
                                <ul class="pagination" ng-if="data.total!=0">
                                    <li ng-if="data.page-1>0">
                                        <a href="javascript:" ng-click="getUserByKeyword(page-1)" class="text-success important">
                                            <i class="fa fa-chevron-left"></i>
                                        </a>
                                    </li>
                                    <li ng-if="data.page-2>0" class="text-success">
                                        <a href="javascript:" class="text-success important">{{data.page-2}}</a>
                                    </li>
                                    <li ng-if="data.page-1>0">
                                        <a href="javascript:" class="text-success important">{{data.page-1}}</a>
                                    </li>
                                    <li class="active">
                                        <a href="javascript:" class="bg-success important">{{data.page}}</a>
                                    </li>
                                    <li ng-if="(data.page+1)<=data.totalPage">
                                        <a href="javascript:" class="text-success important">{{data.page+1}}</a>
                                    </li>
                                    <li ng-if="(data.page+2)<=data.totalPage">
                                        <a href="javascript:" class="text-success important">{{data.page+2}}</a>
                                    </li>
                                    <li ng-if="(data.page+1)<=data.totalPage">
                                        <a href="javascript:" class="text-success important">
                                            <i class="fa fa-chevron-right"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="tab-pane" id="messages">message</div>
                            <div class="tab-pane" id="settings">settings</div>
                        </div>
                    </div>
                </section>
            </section>
        </section>
    </section>
</section>