<section class="hbox stretch" ng-init="search(1);">
    <!-- side content -->
    <aside class="aside bg-light dk" id="sidebar">
        <section class="vbox animated fadeInUp">
            <section class="scrollable hover">
                <div class="no-radius no-border m-t-n-xxs m-b-none padder auto">
                    <div class="form-group m-t-md">
                        <label>Tiêu đề</label>
                        <input type="text" class="form-control" ng-model="data.keyword" placeholder="Tiêu đề bài hát"
                            data-required="true">
                    </div>
                    <div class="form-group" ng-if="data.type=='song'">
                        <label>Thể loại</label>
                        <select ng-model="data.genre" ng-options="obj.name for obj in genres track by obj.id" class="form-control m-b"></select>
                    </div>
                    <div class="form-group" ng-if="data.type=='song'">
                        <label>Sắp xếp</label>
                        <select ng-model="data.sort" class="form-control m-b">
                            <option value="1">Theo tên</option>
                            <option value="2">Theo lượt nghe</option>
                            <option value="3">Theo lượt thích</option>
                            <option value="4">Theo ngày đăng</option>
                        </select>
                    </div>
                    <a class="btn btn-sm btn-success pull-right text-uc m-t-n-xs" ng-if="data.type=='song'" href="./#!/search?keyword={{data.keyword}}&type={{data.type}}&sort={{data.sort}}&genre={{data.genre.id}}">Tìm
                        kiếm</a>
                    <a class="btn btn-sm btn-success pull-right text-uc m-t-n-xs" ng-if="data.type=='user'" href="./#!/search?keyword={{data.keyword}}&type={{data.type}}">Tìm
                        kiếm</a>
                    <a class="btn btn-sm btn-success pull-right text-uc m-t-n-xs" ng-if="data.type=='playlist'" href="./#!/search?keyword={{data.keyword}}&type={{data.type}}">Tìm
                        kiếm</a>
                </div>
            </section>
        </section>
    </aside>
    <!-- / side content -->
    <section>
        <section class="vbox">
            <section class="scrollable">
                <section class="panel panel-default">
                    <header class="panel-heading text-right bg-light">
                        <ul class="nav nav-tabs pull-left">
                            <li id="song-tab">
                                <a href="./#!/search?keyword={{data.keyword}}&type=song&sort=2" data-toggle="tab">
                                    <i class="icon-music-tone-alt text-muted"></i> Bài hát
                                </a>
                            </li>
                            <li id="user-tab">
                                <a href="./#!/search?keyword={{data.keyword}}&type=user" data-toggle="tab">
                                    <i class="icon-user text-muted"></i> Người dùng</a>
                            </li>
                            <li id="playlist-tab">
                                <a href="./#!/search?keyword={{data.keyword}}&type=playlist" data-toggle="tab">
                                    <i class="icon-playlist text-muted"></i> Playlist</a>
                            </li>
                            <li>
                                <a href="#profile-2" data-toggle="tab">
                                    <i class="icon-disc text-muted"></i> Album</a>
                            </li>
                        </ul>
                        <span class="hidden-sm">...</span>
                    </header>
                    <div class="panel-body">
                        <div class="tab-content">
                            <div class="tab-pane padder-lg" id="song">
                                <h2 class="font-thin m-b">Từ khóa '{{data.keyword}}'
                                    <i class='fa fa-spinner fa fa-spin fa fa-large hidden search-spinner'></i>
                                </h2>
                                <div class="row row-sm">
                                    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2" ng-repeat="song in data.listResultSong">
                                        <song song="song" show-add-playlist="showAddPlaylist(song)" show-edit-song="showEditSong(song)"></song>
                                    </div>
                                    <div class="" ng-if="!data.listResultSong">
                                        <div class="text-center">
                                            <img src="images/search.svg" class="thumb-xlg m-t-md m-b-md">
                                            <h2>Không tìm thấy kết quả nào</h2>
                                            <p class="m-b-lg">Vui lòng thử lại bằng từ khóa hoặc cách tìm kiếm khác.</p>
                                        </div>
                                    </div>
                                </div>
                                <ul class="pagination" ng-if="data.total!=0">
                                    <li ng-if="data.page-1>0">
                                        <a href="javascript:" ng-click="search(data.page-1)" class="text-success important">
                                            <i class="fa fa-chevron-left"></i>
                                        </a>
                                    </li>
                                    <li ng-if="data.page-2>0" class="text-success">
                                        <a href="javascript:" ng-click="search(data.page-2)" class="text-success important">{{data.page-2}}</a>
                                    </li>
                                    <li ng-if="data.page-1>0">
                                        <a href="javascript:" ng-click="search(data.page-1)" class="text-success important">{{data.page-1}}</a>
                                    </li>
                                    <li class="active">
                                        <a href="javascript:" ng-click="search(data.page)" class="bg-success important">{{data.page}}</a>
                                    </li>
                                    <li ng-if="(data.page+1)<=data.totalPage">
                                        <a href="javascript:" ng-click="search(data.page+1)" class="text-success important">{{data.page+1}}</a>
                                    </li>
                                    <li ng-if="(data.page+2)<=data.totalPage">
                                        <a href="javascript:" ng-click="search(data.page+2)" class="text-success important">{{data.page+2}}</a>
                                    </li>
                                    <li ng-if="(data.page+1)<=data.totalPage">
                                        <a href="javascript:" ng-click="search(data.page+1)" class="text-success important">
                                            <i class="fa fa-chevron-right"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="tab-pane padder-lg" id="user">
                                <h2 class="font-thin m-b">Từ khóa '{{data.keyword}}'
                                    <i class='fa fa-spinner fa fa-spin fa fa-large hidden search-spinner'></i>
                                </h2>
                                <div class="row row-sm">
                                    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2" ng-repeat="user in data.listResultUser">
                                        <div class="item">
                                            <div class="pos-rlt">
                                                <div class="item-overlay opacity rounded bg-black">
                                                    <div class="center text-center m-t-n">
                                                        <a href="./#!/profile/{{user.username}}">
                                                            <i class="icon-link i-2x"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                                <a href="#">
                                                    <img src="http://localhost:8080/resource/image?name={{user.avatar}}"
                                                        alt="" class="rounded img-full">
                                                </a>
                                            </div>
                                            <div class="padder-v">
                                                <a href="./#!/profile/{{user.username}}" class="text-ellipsis">{{user.fullname}}</a>
                                                <p class="text-ellipsis text-xs text-muted m-n">{{user.followers}}
                                                    người theo dõi</p>
                                                <a href="javascript:" ng-click="user.followers=user.followers+1;user.followed=true;addFollow(user.id)"
                                                    class="btn btn-xs btn-success m-t-xs" ng-if="user.followed==false">Theo
                                                    dõi</a>
                                                <a href="javascript:" ng-click="user.followers=user.followers-1;user.followed=false;removeFollow(user.id)"
                                                    class="btn btn-xs active btn-success m-t-xs" ng-if="user.followed==true">Đã
                                                    theo dõi</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="" ng-if="!data.listResultUser">
                                        <div class="text-center">
                                            <img src="images/search.svg" class="thumb-xlg m-t-md m-b-md">
                                            <h2>Không tìm thấy kết quả nào</h2>
                                            <p class="m-b-lg">Vui lòng thử lại bằng từ khóa hoặc cách tìm kiếm khác.</p>
                                        </div>
                                    </div>
                                </div>
                                <ul class="pagination" ng-if="data.total!=0">
                                    <li ng-if="data.page-1>0">
                                        <a href="javascript:" ng-click="getUserByKeyword(page-1)" class="text-success important">
                                            <i class="fa fa-chevron-left"></i>
                                        </a>
                                    </li>
                                    <li ng-if="data.page-2>0" class="text-success">
                                        <a href="javascript:" ng-click="search(data.page-2)" class="text-success important">{{data.page-2}}</a>
                                    </li>
                                    <li ng-if="data.page-1>0">
                                        <a href="javascript:" ng-click="search(data.page-1)" class="text-success important">{{data.page-1}}</a>
                                    </li>
                                    <li class="active">
                                        <a href="javascript:" ng-click="search(data.page)" class="bg-success important">{{data.page}}</a>
                                    </li>
                                    <li ng-if="(data.page+1)<=data.totalPage">
                                        <a href="javascript:" ng-click="search(data.page+1)" class="text-success important">{{data.page+1}}</a>
                                    </li>
                                    <li ng-if="(data.page+2)<=data.totalPage">
                                        <a href="javascript:" ng-click="search(data.page+2)" class="text-success important">{{data.page+2}}</a>
                                    </li>
                                    <li ng-if="(data.page+1)<=data.totalPage">
                                        <a href="javascript:" ng-click="search(data.page+1)" class="text-success important">
                                            <i class="fa fa-chevron-right"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="tab-pane padder-lg" id="playlist">
                                <h2 class="font-thin m-b">Từ khóa '{{data.keyword}}'
                                    <i class='fa fa-spinner fa fa-spin fa fa-large hidden search-spinner'></i>
                                </h2>
                                <div class="row row-sm">
                                    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2" ng-repeat="playlist in data.listResultPlaylist">
                                        <div class="item">
                                            <div class="pos-rlt">
                                                <div class="item-overlay opacity r r-2x bg-black">
                                                    <div class="center text-center m-t-n">
                                                        <a href="#">
                                                            <i class="fa fa-play-circle i-2x"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                                <a href="#">
                                                    <img src="http://localhost:8080/resource/image?name={{playlist.image}}"
                                                        alt="" class="r r-2x img-full">
                                                </a>
                                            </div>
                                            <div class="padder-v">
                                                <a href="./#!/playlist/{{playlist.id}}" class="text-ellipsis">{{playlist.title}}</a>
                                                <a href="./#!/profile/{{playlist.user.username}}" class="text-ellipsis text-xs text-muted">{{playlist.user.fullname}}</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <ul class="pagination" ng-if="data.total!=0">
                                    <li ng-if="data.page-1>0">
                                        <a href="javascript:" ng-click="search(page-1)" class="text-success important">
                                            <i class="fa fa-chevron-left"></i>
                                        </a>
                                    </li>
                                    <li ng-if="data.page-2>0" class="text-success">
                                        <a href="javascript:" ng-click="search(data.page-2)" class="text-success important">{{data.page-2}}</a>
                                    </li>
                                    <li ng-if="data.page-1>0">
                                        <a href="javascript:" ng-click="search(data.page-1)" class="text-success important">{{data.page-1}}</a>
                                    </li>
                                    <li class="active">
                                        <a href="javascript:" ng-click="search(data.page)" class="bg-success important">{{data.page}}</a>
                                    </li>
                                    <li ng-if="(data.page+1)<=data.totalPage">
                                        <a href="javascript:" ng-click="search(data.page+1)" class="text-success important">{{data.page+1}}</a>
                                    </li>
                                    <li ng-if="(data.page+2)<=data.totalPage">
                                        <a href="javascript:" ng-click="search(data.page+2)" class="text-success important">{{data.page+2}}</a>
                                    </li>
                                    <li ng-if="(data.page+1)<=data.totalPage">
                                        <a href="javascript:" ng-click="search(data.page+1)" class="text-success important">
                                            <i class="fa fa-chevron-right"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="tab-pane" id="settings">settings</div>
                        </div>
                    </div>
                </section>
            </section>
        </section>
    </section>
</section>