<section class="hbox stretch bg-black dker" ng-init="getSongById();loadComment(1);">
    <!-- side content -->
    <aside class="col-sm-5 no-padder" id="sidebar">
        <section class="vbox animated fadeInUp">
            <section class="scrollable">
                <div class="m-t-n-xxs item">
                    <div class="row line-xs">
                        <div class="wrapper-lg col-sm-4">
                            <div class="pos-rlt">
                                <img class="img-full" src="http://localhost:8080/resource/image?name={{data.song.image}}">
                                <div class="item-overlay active opacity bg-black">
                                    <div class="top padder m-t-sm text-white">
                                        <a href="javascript:" class="pull-right" ng-if="checkOwner()" ng-click="showEditSong()">
                                            <b class="dot"></b>
                                            <b class="dot"></b>
                                            <b class="dot"></b>
                                        </a>
                                    </div>
                                    <div class="center text-center m-t-n text-white">
                                        <a href="javascript:">
                                            <i class="icon-control-play i-2x" ng-click="playSong(data.song)"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="wrapper-lg col-sm-8 text-white">
                            <div>
                                <h2 class="h2 font-thin img-full">{{data.song.title}}</h2>
                                <p>{{data.song.views}} lượt nghe</p>
                                <div>
                                    <div class="btn-group">
                                        <a href="javascript:" data-toggle="dropdown">
                                            <i class="fa fa-plus-circle"></i>
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li>
                                                <a href="javascript:" ng-click="addSongToPlaying(data.song)">
                                                    <i class="icon-list"></i> Thêm vào đang phát</a>
                                            </li>
                                            <li>
                                                <a href="javascript:" ng-click="showAddPlaylist(data.song)">
                                                    <i class="icon-playlist"></i> Thêm vào playlist</a>
                                            </li>
                                        </ul>
                                    </div>

                                    <a href="javascript:" class="pull-right" ng-if="data.song.favorited!=true">
                                        {{data.song.favorites}}
                                        <i class="fa fa-heart-o" ng-click="addFavorite(data.song)"></i>
                                    </a>
                                    <a href="javascript:" class="pull-right active" data-toggle="class" ng-if="data.song.favorited==true">
                                        <i class="fa fa-heart-o text"></i>
                                        {{data.song.favorites}}
                                        <i class="fa fa-heart text-active text-danger" ng-click="removeFavorite(data.song)"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- owner information -->
                <section class="bg-black clearfix b-b b-gray">
                    <div class="panel-body">
                        <a href="./#!/profile/{{data.song.user.username}}" class="thumb pull-right m-l m-t-xs avatar">
                            <img src="http://localhost:8080/resource/image?name={{data.song.user.avatar}}">
                            <i class="on md b-white bottom"></i>
                        </a>
                        <div class="clear">
                            <a href="./#!/profile/{{data.song.user.username}}" class="text-white">@{{data.song.user.fullname}}
                                <i class="icon-twitter"></i>
                            </a>
                            <small class="block text-white">{{data.song.user.followers}} người theo dõi</small>
                            <a href="javascript:" class="btn btn-xs btn-success m-t-xs" ng-click="data.song.user.followers=data.song.user.followers+1;data.song.user.followed=true;addFollow(data.song.user.id)"
                                ng-if="data.song.user.followed!=true&&data.song.user.username!=username">Theo dõi</a>
                            <a href="javascript:" class="btn btn-xs btn-success m-t-xs active" ng-click="data.song.user.followers=data.song.user.followers-1;data.song.user.followed=false;removeFollow(data.song.user.id)"
                                ng-if="data.song.user.followed==true&&data.song.user.username!=username">Đang theo dõi</a>
                        </div>
                    </div>
                </section>
                <section class="bg-black clearfix b-b b-gray text-white">
                    <div class="panel-body">
                        <strong>Đăng tải ngày {{data.song.createTime}}</strong>
                        <h2 class="">Lời bài hát</h2>
                        <div class="lyric height pos-rlt">{{data.song.lyric}}</div>
                        <div class="more">
                            <i class="fa fa-chevron-down" id="more"></i>
                        </div>
                    </div>
                </section>
                <!-- Comment -->
                <section class="comment-list panel-body block bg-black">
                    <h2 class="font-thin padder-v bg-black line-xs text-white">Bình luận</h2>
                    <div class="more m-sm"><a href="javascript:" ng-click="loadComment(data.page+1)" ng-if="(data.page)*10<data.total">Xem
                            thêm</a></div>
                    <article class="comment-item" ng-repeat="comment in data.listComment | orderBy:'id' track by $index">
                        <a class="pull-left thumb-sm avatar">
                            <img src="http://localhost:8080/resource/image?name={{comment.user.avatar}}" class="img-circle">
                        </a>
                        <span class="arrow left"></span>
                        <section class="comment-body panel panel-default">
                            <header class="panel-heading bg-white">
                                <a href="#" class="text-black">{{comment.user.username}}</a>
                                <label class="label bg-danger m-l-xs" ng-if="comment.user.username==='admin'">Admin</label>
                                <span class="text-black m-l-sm pull-right">
                                    <i class="fa fa-clock-o"></i>
                                    {{comment.createTimeFrom}}
                                </span>
                            </header>
                            <div class="panel-body">
                                <div class="text-black">{{comment.content}}</div>
                                <div class="comment-action m-t-sm" ng-if="comment.user.username==data.username">
                                    <a href="javascript:" ng-click="deleteComment(comment.id);" class="btn btn-default btn-xs">
                                        <i class="fa fa-trash-o text-black"></i>
                                        Xóa
                                    </a>
                                </div>
                            </div>
                        </section>
                    </article>
                    <!-- comment form -->
                    <article class="comment-item media" id="comment-form" ng-if="data.avatar">
                        <a class="pull-left thumb-sm avatar">
                            <img src="http://localhost:8080/resource/image?name={{data.avatar}}">
                        </a>
                        <section class="media-body">
                            <form class="m-b-none">
                                <div class="input-group">
                                    <input type="text" class="form-control" ng-model="data.comment.content" ng-keyup="$event.keyCode==13?addComment():null"
                                        placeholder="Viết bình luận ...">
                                    <span class="input-group-btn">
                                        <button class="btn btn-success" type="button" ng-click="addComment()">Bình luận</button>
                                    </span>
                                </div>
                            </form>
                        </section>
                    </article>
                </section>
            </section>
        </section>
    </aside>
    <!-- / side content -->
    <section class="col-sm-4 no-padder bg">
        <section class="vbox">
            <section class="scrollable hover">
                <ul class="list-group list-group-lg no-bg auto m-b-none m-t-n-xxs">
                    <li class="list-group-item clearfix" ng-repeat="s in data.listRecommendSong">
                        <a href="javascript:" class="jp-play-me pull-right m-t-sm m-l text-md">
                            <i class="icon-control-play text" ng-click="playSong(s)"></i>
                        </a>
                        <a href="#" class="pull-left thumb-sm m-r">
                            <img src="http://localhost:8080/resource/image?name={{s.image}}">
                        </a>
                        <a class="clear" href="./#!/song/{{s.id}}">
                            <span class="block text-ellipsis">{{s.title}}</span>
                            <small class="text-muted">{{s.user.fullname}}</small>
                        </a>
                    </li>
                </ul>
            </section>
        </section>
    </section>
    <section class="col-sm-3 no-padder lt">
        <section class="vbox">
            <section class="scrollable hover">
                <div class="m-t-n-xxs">
                    <div class="item pos-rlt">
                        <a href="./#!/search" class="item-overlay active opacity wrapper-md font-xs">
                            <span class="block h3 font-bold text-info">Tìm kiếm</span>
                            <span class="text-muted">Tìm kiếm bài hát bạn thích</span>
                            <span class="bottom wrapper-md block">-
                                <i class="icon-arrow-right i-lg pull-right"></i>
                            </span>
                        </a>
                        <a href="#">
                            <img class="img-full" src="images/m40.jpg">
                        </a>
                    </div>
                    <div class="item pos-rlt">
                        <a href="./#!/search?keyword=&type=song&sort=3&genre=" class="item-overlay active opacity wrapper-md font-xs text-right">
                            <span class="block h3 font-bold text-danger-lter">Top yêu thích</span>
                            <span class="text-muted">Danh sách các bài hát được yêu thích nhất</span>
                            <span class="bottom wrapper-md block">
                                <i class="icon-arrow-right i-lg pull-left"></i> -</span>
                        </a>
                        <a href="#">
                            <img class="img-full" src="images/m45.jpg" alt="...">
                        </a>
                    </div>
                    <div class="item pos-rlt">
                        <a href="#" class="item-overlay active opacity wrapper-md font-xs">
                            <span class="block h3 font-bold text-warning text-u-c">Listen</span>
                            <span class="text-muted">Find the peace in your heart</span>
                            <span class="bottom wrapper-md block">-
                                <i class="icon-arrow-right i-lg pull-right"></i>
                            </span>
                        </a>
                        <a href="#">
                            <img class="img-full" src="images/m41.jpg">
                        </a>
                    </div>
                    <div class="item pos-rlt">
                        <a href="#" class="item-overlay active opacity wrapper-md font-xs text-right">
                            <span class="block h3 font-bold text-success text-u-c">Share</span>
                            <span class="text-muted">Share the good songs with your loves</span>
                            <span class="bottom wrapper-md block">
                                <i class="icon-arrow-right i-lg pull-left"></i> -</span>
                            </span>
                        </a>
                        <a href="#">
                            <img class="img-full" src="images/m42.jpg">
                        </a>
                    </div>
                </div>
            </section>
        </section>
    </section>
</section>
<modal visible="showModal">
    <modal-header title="Xác nhận"></modal-header>
    <modal-body>
        <h5>Bạn có chắc chắn muốn xóa bình luận này không?</h5>
    </modal-body>
    <modal-footer>
        <button class="btn btn-default btn-sm" ng-click="cancelDeleteComment()">Hủy</button>
        <button class="btn btn-success btn-sm" ng-click="confirmDeleteComment(selected)">Xóa</button>
    </modal-footer>
</modal>
<modal visible="showEditSongModal">
    <modal-header title="Sửa thông tin"></modal-header>
    <modal-body>
        <div class="alert alert-danger" ng-if="data.success!=null&&!data.success">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <i class="fa fa-ban-circle"></i>
            <strong>Ôi không!</strong>
            {{data.msg}}
        </div>
        <div class="alert alert-success" ng-if="data.success!=null&&data.success">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <i class="fa fa-ok-sign"></i>
            <strong>Thành công!</strong>
            {{data.msg}}
        </div>
        <div class="form-group">
            <label>Tiêu đề</label>
            <input ng-model="data.selected.song.title" type="text" placeholder="Tiêu đề" class="form-control" />
        </div>
        <div class="form-group">
            <label>Lời bài hát</label>
            <textarea class="form-control" ng-model="data.selected.song.lyric" rows="6" data-minwords="6" data-required="true"
                placeholder="Viết gì đó ..."></textarea>
        </div>
        <div class="form-group">
            <label>Thể loại</label>
            <select ng-model="data.selected.song.genre" ng-options="obj.name for obj in genres track by obj.id" class="form-control m-b"></select>
        </div>
        <div class="form-group">
            <label>Ảnh bìa</label><br>
            <img class="thumb-md m-b preview" src="http://localhost:8080/resource/image?name={{data.selected.song.image}}">
            <input type="file" accept="image/*" file-model="data.selected.song.image" class="customfileinput">
        </div>
    </modal-body>
    <modal-footer>
        <button class="btn btn-default btn-sm" ng-click="hideEditSong();">Hủy</button>
        <button class="btn btn-danger btn-sm" ng-click="deleteSong();">Xóa
            <i class='fa fa-spinner fa fa-spin fa fa-large hidden' id="delete-spinner"></i>
        </button>
        <button class="btn btn-success btn-sm" ng-click="editSong();">Sửa
            <i class='fa fa-spinner fa fa-spin fa fa-large hidden' id="edit-spinner"></i>
        </button>

    </modal-footer>
</modal>