<section class="hbox stretch bg-black dker" ng-init="getSongById();loadComment(1);">
    <!-- side content -->
    <aside class="col-sm-5 no-padder" id="sidebar">
        <section class="vbox animated fadeInUp">
            <section class="scrollable">
                <div class="m-t-n-xxs item">
                    <div class="row line-xs">
                        <div class="wrapper-lg col-sm-4">
                            <div class="pos-rlt">
                                <img class="img-full" src="http://localhost:8080/resource/image?name={{data.song.image}}" >
                                <div class="item-overlay active opacity bg-black">
                                    <div class="center text-center m-t-n">
                                        <a href="javascript:">
                                            <i class="icon-control-play i-2x" ng-click="playSong(data.song)"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="wrapper-lg col-sm-8">
                            <div>
                                <h2 class="h2 font-thin img-full">{{data.song.title}}</h2>
                                <p>{{data.song.views}} lượt nghe</p>
                                <div>
                                    <div class="btn-group">
                                        <a href="javascript:" data-toggle="dropdown">
                                            <i class="fa fa-plus-circle"></i>
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li>
                                                <a href="javascript:" ng-click="addSongToPlaylist(data.song)">
                                                    <i class="icon-list"></i> Thêm vào đang phát</a>
                                            </li>
                                            <li>
                                                <a href="javascript:" ng-click="addSongToPlaylist(data.song)">
                                                    <i class="icon-playlist"></i> Thêm vào playlist</a>
                                            </li>
                                        </ul>
                                    </div>

                                    <a href="javascript:" class="pull-right" ng-if="data.song.favorited!=true">
                                        {{data.song.favorites}}
                                        <i class="fa fa-heart-o" ng-click="data.song.favorites=data.song.favorites+1;data.song.favorited=true;addFavorite(data.song.id)"></i>
                                    </a>
                                    <a href="javascript:" class="pull-right active" data-toggle="class" ng-if="data.song.favorited==true">
                                        <i class="fa fa-heart-o text"></i>
                                        {{data.song.favorites}}
                                        <i class="fa fa-heart text-active text-danger" ng-click="data.song.favorites=data.song.favorites-1;data.song.favorited=false;removeFavorite(data.song.id)"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- owner information -->
                <section class="bg-black clearfix b-b b-gray">
                    <div class="panel-body">
                        <a href="./#!/profile/{{data.song.user.username}}" class="thumb pull-right m-l m-t-xs avatar">
                            <img src="http://localhost:8080/resource/image?name={{data.song.user.avatar}}" >
                            <i class="on md b-white bottom"></i>
                        </a>
                        <div class="clear">
                            <a href="./#!/profile/{{data.song.user.username}}" class="text-info">@{{data.song.user.fullname}}
                                <i class="icon-twitter"></i>
                            </a>
                            <small class="block text-muted">{{data.song.user.followers}} người theo dõi</small>
                            <a href="javascript:" class="btn btn-xs btn-success m-t-xs" 
                                ng-click="data.song.user.followers=data.song.user.followers+1;data.song.user.followed=true;addFollow(data.song.user.id)"
                                ng-if="data.song.user.followed!=true&&data.song.user.username!=username">Theo dõi</a>
                            <a href="javascript:" class="btn btn-xs btn-success m-t-xs active" 
                                ng-click="data.song.user.followers=data.song.user.followers-1;data.song.user.followed=false;removeFollow(data.song.user.id)"
                                ng-if="data.song.user.followed==true&&data.song.user.username!=username">Đang theo dõi</a>
                        </div>
                    </div>
                </section>
                <section class="bg-black clearfix b-b b-gray">
                    <div class="panel-body">
                        <strong>Đăng tải ngày {{data.song.createTime}}</strong>
                        <h2 class="">Lời bài hát</h2>
                        <div class="lyric height pos-rlt">{{data.song.lyric}}</div>
                        <div class="more">
                            <i class="fa fa-chevron-down" id="more"></i>
                        </div>
                    </div>
                </section>
                <!-- Comment -->
                <section class="comment-list panel-body block bg-black">
                    <h2 class="font-thin padder-v bg-black line-xs">Bình luận</h2>
                    <div class="more m-sm"><a href="javascript:" ng-click="loadComment(data.page+1)" ng-if="(data.page)*10<data.total">Xem thêm</a></div>
                    <article class="comment-item" ng-repeat="comment in data.listComment | orderBy:'id' track by $index">
                        <a class="pull-left thumb-sm avatar">
                            <img src="http://localhost:8080/resource/image?name={{comment.user.avatar}}" class="img-circle" >
                        </a>
                        <span class="arrow left"></span>
                        <section class="comment-body panel panel-default">
                            <header class="panel-heading bg-white">
                                <a href="#">{{comment.user.username}}</a>
                                <label class="label bg-danger m-l-xs" ng-if="comment.user.username==='admin'">Admin</label>
                                <span class="text-muted m-l-sm pull-right">
                                    <i class="fa fa-clock-o"></i>
                                    {{comment.createTimeFrom}}
                                </span>
                            </header>
                            <div class="panel-body">
                                <div>{{comment.content}}</div>
                                <div class="comment-action m-t-sm" ng-if="comment.user.username==data.username">
                                    <a href="javascript:" ng-click="deleteComment(comment.id);" class="btn btn-default btn-xs">
                                        <i class="fa fa-trash-o text-muted"></i>
                                        Xóa
                                    </a>
                                </div>
                            </div>
                        </section>
                    </article>
                    <!-- comment form -->
                    <article class="comment-item media" id="comment-form" ng-if="data.avatar">
                        <a class="pull-left thumb-sm avatar">
                            <img src="http://localhost:8080/resource/image?name={{data.avatar}}" >
                        </a>
                        <section class="media-body">
                            <form class="m-b-none">
                                <div class="input-group">
                                    <input type="text" class="form-control" ng-model="data.comment.content" ng-keyup="$event.keyCode==13?addComment():null"
                                        placeholder="Viết bình luận ...">
                                    <span class="input-group-btn">
                                        <button class="btn btn-success" type="button" ng-click="addComment()">Bình luận</button>
                                    </span>
                                </div>
                            </form>
                        </section>
                    </article>
                </section>
            </section>
        </section>
    </aside>
    <!-- / side content -->
    <section class="col-sm-4 no-padder bg">
        <section class="vbox">
            <section class="scrollable hover">
                <ul class="list-group list-group-lg no-bg auto m-b-none m-t-n-xxs">
                    <li class="list-group-item clearfix">
                        <a href="#" class="jp-play-me pull-right m-t-sm m-l text-md">
                            <i class="icon-control-play text"></i>
                            <i class="icon-control-pause text-active"></i>
                        </a>
                        <a href="#" class="pull-left thumb-sm m-r">
                            <img src="images/m0.jpg" >
                        </a>
                        <a class="clear" href="#">
                            <span class="block text-ellipsis">Little Town</span>
                            <small class="text-muted">by Soph Ashe</small>
                        </a>
                    </li>
                    <li class="list-group-item clearfix">
                        <a href="#" class="jp-play-me pull-right m-t-sm m-l text-md">
                            <i class="icon-control-play text"></i>
                            <i class="icon-control-pause text-active"></i>
                        </a>
                        <a href="#" class="pull-left thumb-sm m-r">
                            <img src="images/a1.png" >
                        </a>
                        <a class="clear" href="#">
                            <span class="block text-ellipsis">Get lacinia odio sem nec elit</span>
                            <small class="text-muted">by Filex</small>
                        </a>
                    </li>
                    <li class="list-group-item clearfix">
                        <a href="#" class="jp-play-me pull-right m-t-sm m-l text-md">
                            <i class="icon-control-play text"></i>
                            <i class="icon-control-pause text-active"></i>
                        </a>
                        <a href="#" class="pull-left thumb-sm m-r">
                            <img src="images/a2.png" >
                        </a>
                        <a class="clear" href="#">
                            <span class="block text-ellipsis">Donec sed odio du</span>
                            <small class="text-muted">by Dan Doorack</small>
                        </a>
                    </li>
                    <li class="list-group-item clearfix">
                        <a href="#" class="jp-play-me pull-right m-t-sm m-l text-md">
                            <i class="icon-control-play text"></i>
                            <i class="icon-control-pause text-active"></i>
                        </a>
                        <a href="#" class="pull-left thumb-sm m-r">
                            <img src="images/a3.png" >
                        </a>
                        <a class="clear" href="#">
                            <span class="block text-ellipsis">Curabitur blandit tempu</span>
                            <small class="text-muted">by Foxes</small>
                        </a>
                    </li>
                    <li class="list-group-item clearfix">
                        <a href="#" class="jp-play-me pull-right m-t-sm m-l text-md">
                            <i class="icon-control-play text"></i>
                            <i class="icon-control-pause text-active"></i>
                        </a>
                        <a href="#" class="pull-left thumb-sm m-r">
                            <img src="images/a4.png" >
                        </a>
                        <a class="clear" href="#">
                            <span class="block text-ellipsis">Urna mollis ornare vel eu leo</span>
                            <small class="text-muted">by Chris Fox</small>
                        </a>
                    </li>
                    <li class="list-group-item clearfix">
                        <a href="#" class="jp-play-me pull-right m-t-sm m-l text-md">
                            <i class="icon-control-play text"></i>
                            <i class="icon-control-pause text-active"></i>
                        </a>
                        <a href="#" class="pull-left thumb-sm m-r">
                            <img src="images/a5.png" >
                        </a>
                        <a class="clear" href="#">
                            <span class="block text-ellipsis">Faucibus dolor auctor</span>
                            <small class="text-muted">by Lauren Taylor</small>
                        </a>
                    </li>
                    <li class="list-group-item clearfix">
                        <a href="#" class="jp-play-me pull-right m-t-sm m-l text-md">
                            <i class="icon-control-play text"></i>
                            <i class="icon-control-pause text-active"></i>
                        </a>
                        <a href="#" class="pull-left thumb-sm m-r">
                            <img src="images/a6.png" >
                        </a>
                        <a class="clear" href="#">
                            <span class="block text-ellipsis">Praesent commodo cursus magn</span>
                            <small class="text-muted">by Chris Fox</small>
                        </a>
                    </li>
                    <li class="list-group-item clearfix">
                        <a href="#" class="jp-play-me pull-right m-t-sm m-l text-md">
                            <i class="icon-control-play text"></i>
                            <i class="icon-control-pause text-active"></i>
                        </a>
                        <a href="#" class="pull-left thumb-sm m-r">
                            <img src="images/a7.png" >
                        </a>
                        <a class="clear" href="#">
                            <span class="block text-ellipsis">Vestibulum id</span>
                            <small class="text-muted">by Milian</small>
                        </a>
                    </li>
                    <li class="list-group-item clearfix">
                        <a href="#" class="jp-play-me pull-right m-t-sm m-l text-md">
                            <i class="icon-control-play text"></i>
                            <i class="icon-control-pause text-active"></i>
                        </a>
                        <a href="#" class="pull-left thumb-sm m-r">
                            <img src="images/a8.png" >
                        </a>
                        <a class="clear" href="#">
                            <span class="block text-ellipsis">Blandit tempu</span>
                            <small class="text-muted">by Amanda Conlan</small>
                        </a>
                    </li>
                    <li class="list-group-item clearfix">
                        <a href="#" class="jp-play-me pull-right m-t-sm m-l text-md">
                            <i class="icon-control-play text"></i>
                            <i class="icon-control-pause text-active"></i>
                        </a>
                        <a href="#" class="pull-left thumb-sm m-r">
                            <img src="images/a9.png" >
                        </a>
                        <a class="clear" href="#">
                            <span class="block text-ellipsis">Vestibulum ullamcorpe quis malesuada augue mco rpe</span>
                            <small class="text-muted">by Dan Doorack</small>
                        </a>
                    </li>
                    <li class="list-group-item clearfix">
                        <a href="#" class="jp-play-me pull-right m-t-sm m-l text-md">
                            <i class="icon-control-play text"></i>
                            <i class="icon-control-pause text-active"></i>
                        </a>
                        <a href="#" class="pull-left thumb-sm m-r">
                            <img src="images/a10.png" >
                        </a>
                        <a class="clear" href="#">
                            <span class="block text-ellipsis">Natis ipsum ac feugiat</span>
                            <small class="text-muted">by Hamburg</small>
                        </a>
                    </li>
                    <li class="list-group-item clearfix">
                        <a href="#" class="jp-play-me pull-right m-t-sm m-l text-md">
                            <i class="icon-control-play text"></i>
                            <i class="icon-control-pause text-active"></i>
                        </a>
                        <a href="#" class="pull-left thumb-sm m-r">
                            <img src="images/a0.png" >
                        </a>
                        <a class="clear" href="#">
                            <span class="block text-ellipsis">Sec condimentum au</span>
                            <small class="text-muted">by Amanda Conlan</small>
                        </a>
                    </li>
                </ul>
            </section>
        </section>
    </section>
    <section class="col-sm-3 no-padder lt">
        <section class="vbox">
            <section class="scrollable hover">
                <div class="m-t-n-xxs">
                    <div class="item pos-rlt">
                        <a href="#" class="item-overlay active opacity wrapper-md font-xs">
                            <span class="block h3 font-bold text-info">Find</span>
                            <span class="text-muted">Search the music you like</span>
                            <span class="bottom wrapper-md block">-
                                <i class="icon-arrow-right i-lg pull-right"></i>
                            </span>
                        </a>
                        <a href="#">
                            <img class="img-full" src="images/m40.jpg" >
                        </a>
                    </div>
                    <div class="item pos-rlt">
                        <a href="#" class="item-overlay active opacity wrapper-md font-xs text-right">
                            <span class="block h3 font-bold text-warning text-u-c">Listen</span>
                            <span class="text-muted">Find the peace in your heart</span>
                            <span class="bottom wrapper-md block">
                                <i class="icon-arrow-right i-lg pull-left"></i> -</span>
                        </a>
                        <a href="#">
                            <img class="img-full" src="images/m41.jpg" >
                        </a>
                    </div>
                    <div class="item pos-rlt">
                        <a href="#" class="item-overlay active opacity wrapper-md font-xs">
                            <span class="block h3 font-bold text-success text-u-c">Share</span>
                            <span class="text-muted">Share the good songs with your loves</span>
                            <span class="bottom wrapper-md block">-
                                <i class="icon-arrow-right i-lg pull-right"></i>
                            </span>
                        </a>
                        <a href="#">
                            <img class="img-full" src="images/m42.jpg" >
                        </a>
                    </div>
                    <div class="item pos-rlt">
                        <a href="#" class="item-overlay active opacity wrapper-md font-xs text-right">
                            <span class="block h3 font-bold text-white text-u-c">2014</span>
                            <span class="text-muted">Find, Listen & Share</span>
                            <span class="bottom wrapper-md block">
                                <i class="icon-arrow-right i-lg pull-left"></i> -</span>
                        </a>
                        <a href="#">
                            <img class="img-full" src="images/m44.jpg" >
                        </a>
                    </div>
                    <div class="item pos-rlt">
                        <a href="#" class="item-overlay active opacity wrapper-md font-xs">
                            <span class="block h3 font-bold text-danger-lter text-u-c">Top10</span>
                            <span class="text-muted">Selected songs</span>
                            <span class="bottom wrapper-md block">-
                                <i class="icon-arrow-right i-lg pull-right"></i>
                            </span>
                        </a>
                        <a href="#">
                            <img class="img-full" src="images/m45.jpg" >
                        </a>
                    </div>
                </div>
            </section>
        </section>
    </section>
</section>
<modal visible="showModal">
    <modal-header title="Xác nhận"></modal-header>
    <modal-body>
        <h4>Bạn có chắc chắn muốn xóa bình luận này không?</h4>
    </modal-body>
    <modal-footer>
        <button class="btn btn-default" ng-click="cancelDeleteComment()">Hủy</button>
        <button class="btn btn-success" ng-click="confirmDeleteComment(selected)">Xóa</button>
    </modal-footer>
</modal>